/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
  margin: 0;
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5;
  color: #242424;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  line-height: 1.25;
  font-weight: bold;
  color: #3e606b;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
  color: #3e606b;
}

h3 {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}

header .prava {
  display: flex;
}

.logo {
  width: 170px;
}

.menu a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.menu a:active,
.menu a:hover,
.menu a:focus {
  background-color: #f195b2;
  color: white;
}

.menu li {
  display: inline-block;
}

section {
  padding: 80px 0 80px 0;
  margin: 0 auto;
  display: block;
  justify-content: center;
}

.content {
  max-width: 1100px;
  display: flex;
  margin: 0px auto;
}

.hero .leva {
  padding-right: 40%;
}

.hero {
  background-image: url(images/cupcake.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.hero h1 {
  color: white;
}

.hero p {
  font-size: 24px;
  font-style: italic;
}

.vitejte,
.pristup {
  display: flex;
  align-items: center;
}

.fotka img {
  border-radius: 5px;
}

.vitejte .text {
  margin-right: 30px;
}
.pristup .text {
  margin-left: 30px;
}

.tlacitko {
  background-color: #f195b2;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 40px;
  margin-top: 30px;
  display: inline-block;

}

.tlacitko:hover,
.tlacitko:focus,
.tlacitko:active {
  background-color: #d2567d;
}

.nabidka {
  background-color: #f0f0f0;
}

.nabidka .content {
  flex-wrap: wrap;
}

.nabidka .uvod {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.recepty {
  flex-basis: 1100px;
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
}

.jedna,
.dva,
.tri,
.ctyri {
  flex-direction: column;
  flex-basis: 25%;
  flex-shrink: 1;
  flex-grow: 0;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
  overflow: hidden;
}

.jedna,
.dva,
.tri {
  margin-right: 30px;
}

.recepty img {
  width: 100%;
}

.textkarty {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #303339;
  color: white;
  padding: 30px;
}
